.DS_Store
.idea/
.apk-extract/
lets-latest.apk

app/.dart_tool/
app/.idea/
app/android/.idea/
app/build/
app/android/build/
app/.flutter-plugins-dependencies

.env
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
